#page-container{
	width: 100%;
    min-height: 100vh;
	background-color:wheat;
}
.backgrounds{
	position:relative;
	display:inline-block;
	img{
		max-width: 100%;
}
}

 #top-button {
	border-radius: 15px;
    max-width: 9%;
    max-height: 3%;
    position: absolute;
    left: 50%;
    bottom: 50%;
    text-align: center;
    background-color: rgb(10, 100, 20);
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

#top-button:hover {
	transform: scale(1.1) translate(-45%, -45%);
    transform-origin: center center;
    background-color: rgb(12, 146, 28);
	}

#bottom-button {
	border-radius: 15px;
    max-width: 13%;
    max-height: 3%;
    position: absolute;
    left: 50%;
    bottom: 40%;
    text-align: center;
    background-color: rgb(10, 100, 20);
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

#bottom-button:hover {
	transform: scale(1.1) translate(-45%, -45%);
	transform-origin: center center;
	background-color: rgb(12, 146, 28);
	
	}

h1 {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	text-align:center;
	font-weight:bold;
	color:DarkSeaGreen;
	font-family: "ＭＳ Ｐゴシック";

}
	
a {
    text-decoration: none;
}